<%= content_for :header_title do %>
<h1>Witchifier</h1>
<% end %>
<div class="row">
	<div class="span8">
		<p>
			Inspired by <a href="http://en.wikipedia.org/wiki/Witch_house_(music_genre)">witch house</a> and its culture of funky character usage, I created this "witchifier" that will "funkify" whatever you type.
		</p>
	</div>

</div>
<div class="row">
	<div class="span4">
		<textarea placeholder="Type to witchify..." id="witchifier-input"></textarea>
		<p class="help-block">Note: I don't want to deal with all text input possibilities, so I have restricted them.</p>
	</div>
	<div class="span4">
		<div id="witchifier-output" class="well">
		</div>
	</div>

</div>

