<%= content_for :header_title do %>
<h1>Witchifier</h1>
<% end %>
<div class="row">
	<div class="span8">
		<p>
			I enjoy listening to <a href="http://en.wikipedia.org/wiki/Witch_house_(music_genre)">witch house</a>, a music genre dedicated to dark gothy drones and slow funereal synths.  For some in this community, the letters that compose song names can convey as much of the witch house attitude as the songs themselves. With the use of uncommon unicode characters, witch house artists visually prepare their listeners for the eldritch sounds that follow. As a tribute to this genre's creepyness, I created this witchifer, which will translate what you type into a random and bizarre unicode
		representation.
		</p>
	</div>

</div>
<div class="row">
	<div class="span4 offset2-3">
		<textarea placeholder="Type to witchify..." id="witchifier-input"></textarea>
		<p class="help-block">Note: I don't want to deal with all text input possibilities, so I have restricted them.</p>
	</div>
	<div class="span4">
		<div id="witchifier-output" class="well">
		</div>
	</div>

</div>
<%= content_for :javascript do %>
<script type="text/javascript">
$(function(){
	$("#witchifier-input").witchifier({target: "#witchifier-output"});
});
</script>
<% end %>
