<p>
	Inspired by <a href="http://en.wikipedia.org/wiki/Witch_house_(music_genre)">witch house</a> and its culture of funky character usage, I created this "witchifier" that will "funkify" whatever you type.
</p>

<textarea placeholder="Type to witchify..." id="witchifier-input"></textarea>


