<%= content_for :header_title do %>
<h1>Witchifier</h1>
<% end %>
<div class="row">
	<div class="span8">
		<p>
			Inspired by <a href="http://en.wikipedia.org/wiki/Witch_house_(music_genre)">witch house</a> and its culture of funky character usage, I created this "witchifier" that will "funkify" whatever you type.
		</p>
	</div>

</div>
<div class="row">
	<div class="span8">
		<textarea placeholder="Type to witchify..." id="witchifier-input"></textarea>
	</div>
</div>

