<ul class="navigation inline">
	<li><a href="/">Morgan Brown</a></li>
	<li><a rel="prerender" target="_blank" href="http://github.com/discom4rt">GitHub</a></li>
	<li><a target="_blank" href="http://www.linkedin.com/in/morg4n">LinkedIn</a></li>
	<li><a target="_blank" href="https://docs.google.com/document/pub?id=1P9Su7E94cIwtnJaw9zij5i9_L_A_mv9KagAHVx-m7WA">Resume</a></li>
	<li><a target="_blank" href="http://soundcloud.com/discom4rt/favorites">SoundCloud</a></li>
	<li class="extra active"><%= link_to "Witchifier", witchifier_path %></li>
</ul>
<textarea placeholder="" id="witchifier-input"></textarea>


