<%= navigation true %>
<ul class="navigation">
	<li><%= link_to "Witchifier", witchifier_path %></li>
  <li><a href="javascript:(function(e){var t;if(!e.FuckMyDom){t=document.createElement('script');t.setAttribute('src','https://rawgithub.com/discom4rt/fuck-my-dom/master/fuck-my-dom.js');t.onload=function(){FuckMyDom.slowly()};document.body.appendChild(t)}else{FuckMyDom.slowly()}})(window)">Fuck My Dom</a></li>
  <li><a target="_blank" href="http://soundcloudqueue.morgan.io/">SoundCloud Queue</a></li>
	<li><a target="_blank" href="http://void.morgan.io/">Void</a></li>
  <li><a target="_blank" href="https://twitter.com/dattweettho">DAT TWEET THO</a><li>
  <li><a target="_blank" href="http://ayearatlinkedin.morgan.io">A Year At LinkedIn</a></li>
</ul>