<%= navigation true %>
<ul class="navigation">
	<li><%= link_to "Witchifier", witchifier_path %></li>
	<li><a target="_blank" href="http://void.morgan.io/">Void</a></li>
  <li><a target="_blank" href="http://ayearatlinkedin.morgan.io">A Year At LinkedIn</a></li>
</ul>