<%= navigation true %>
<ul id="projects" class="navigation">
  <li><a target="_blank" href="//tones.morgan.io/">Tones</a></li>
	<li><%= link_to "Witchifier", witchifier_path %></li>
  <li><a href="javascript:(function(e,t,n){function s(){var e=t.createElement('script');e.setAttribute('src','https://rawgithub.com/discom4rt/fuck-my-chars/master/js/fuck-my-chars.js');e.onload=function(){r=false;FuckMyChars.up()};t.body.appendChild(e)}var r=false,i;if(!e.FuckMyChars){if(r){return}r=true;i=t.createElement('link');i.setAttribute('href','https://rawgithub.com/discom4rt/fuck-my-chars/master/css/fuck-my-chars.css');i.setAttribute('rel','stylesheet');i.setAttribute('type','text/css');i.onload=function(){s()};t.getElementsByTagName('head')[0].appendChild(i)}else{FuckMyChars.up()}})(window,document)">Fuck My Chars</a></li>
  <li><a href="javascript:(function(e){var t;if(!e.FuckMyDom){t=document.createElement('script');t.setAttribute('src','https://rawgithub.com/discom4rt/fuck-my-dom/master/fuck-my-dom.js');t.onload=function(){FuckMyDom.slowly()};document.body.appendChild(t)}else{FuckMyDom.slowly()}})(window)">Fuck My Dom</a></li>
  <li><a target="_blank" href="http://soundcloudqueue.morgan.io/">SoundCloud Queue</a></li>
    <li><a target="_blank" href="//image2html.morgan.io">image2html</a><li>
  <li><a target="_blank" href="//justagrid.morgan.io/">Just A Grid</a></li>
  <li><a target="_blank" href="https://twitter.com/dattweettho">DAT TWEET THO</a><li>
	<li><a target="_blank" href="http://void.morgan.io/">Void</a></li>
</ul>