/* http://jtauber.github.com/articles/css-hexagon.html */
.hex-collection{
	height: 226px;
}

.hex-row {
    clear: left;
}

.hex {
    float: left;
    margin-right: -23px;
    margin-bottom: -47px;
}

.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #8F7FD4;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #8F7FD4;
}

.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #8F7FD4;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex.yellow .left{
	border-right-color: #D4CA7F;
}

.hex.yellow .middle{
	background: #D4CA7F;
}

.hex.yellow .right{
	border-left-color: #D4CA7F;
}

.hex.pink .left{
	border-right-color: #A1507A;
}

.hex.pink .middle{
	background: #A1507A;
}

.hex.pink .right{
	border-left-color: #A1507A;
}


.hex.even {
    margin-top: 56px;
}
