<h1 class="title">Morgan Brown</h1>
<h2 class="sub-title">Developer</h2>
<ul class="navigation">
	<li><a rel="prerender" target="_blank" href="http://github.com/discom4rt">GitHub</a></li>
	<li><a target="_blank" href="http://www.linkedin.com/in/morg4n">LinkedIn</a></li>
	<li><a target="_blank" href="https://docs.google.com/document/pub?id=1P9Su7E94cIwtnJaw9zij5i9_L_A_mv9KagAHVx-m7WA">Resume</a></li>
	<li><a target="_blank" href="http://soundcloud.com/discom4rt/likes">SoundCloud</a></li>
</ul>
<ul class="extras">
	<li>
		<%= link_to "Witchifier", witchifier_path %>
	</li>
</ul>

<!-- thousands are sailing
the same self the only self

self willed the peril of a thousand fates

a line of infinite ends finite finishing
the one remains oblique and pure

arching to the single point of
consciousness

find yourself
starting back -->