<h1 id="title" class="title">M<span class="out-of-place one">o</span><span class="out-of-place two">r</span>ga<span class="out-of-place three">n</span> B<span class="out-of-place four">r</span>o<span class="out-of-place five">w</span>n</h1>
<%= navigation %>

<!--
thousands are sailing
the same self the only self

self willed the peril of a thousand fates

a line of infinite ends finite finishing
the one remains oblique and pure

arching to the single point of
consciousness

find yourself
starting back
-->