<%= content_for :content do %>
<div class="content">
  <h1 id="title">Morgan Brown is a Software Engineer based in Berlin, Germany</h1>
  <ul>
    <li><a target="_blank" href="http://github.com/mhgbrown">Code</a></li>
    <li><a target="_blank" href="http://instagram.com/mhgbrown">Photos</a></li>
    <li><a target="_blank" href="http://soundcloud.com/mhgbrown/likes">Music</a></li>
    <li><a target="_blank" href="http://blog.mhgbrown.is">Writing</a></li>
    <li><a target="_blank" href="http://www.linkedin.com/in/mhgbrown">Resume</a></li>
    <li><a target="_blank" href="mailto:inbox@email.mhgbrown.is">Contact</a></li>
  </ul>
  <div class="images">
  </div>
  <h2>Some work</h2>
  <ul class="work">
    <li><a target="_blank" href="http://camillealena.com/">Camille Aleña</a></li>
    <li><a target="_blank" href="http://dinamostandards.com/">Dinamo Standards</a></li>
    <li><a target="_blank" href="http://onlinebusiness.lol/">onlinebusiness.lol</a></li>
    <li><a target="_blank" href="http://georggat.cyon.link/">Georg Gatsas</a></li>
    <li><a target="_blank" href="https://www.kickstarter.com/projects/85280086/kien-light-intelligent-daylight-at-your-fingertips">Kiën</a></li>
    <li><a target="_blank" href="https://helpgoodspread.com/">Good Spread</a></li>
    <li><a target="_blank" href="http://talk-talk-talk.ch/">Talk Talk Talk</a></li>
    <li><a target="_blank" href="http://lexiconlabs.nyc">Lexicon Labs</a></li>
    <li><a target="_blank" href="https://sumall.com">SumAll</a></li>
    <li><a target="_blank" href="https://linkedin.com">LinkedIn</a></li>
    <li><a target="_blank" href="https://apple.com">Apple, Inc.</a></li>
    <li><a target="_blank" href="//tones.mhgbrown.is/">Tones</a></li>
    <li><a target="_blank" href="http://witchifier.mhgbrown.is">Witchifier</a></li>
    <li><a target="_blank" href="//justagrid.mhgbrown.is/">Just A Grid</a></li>
    <li><a target="_blank" href="//image2html.mhgbrown.is">image2html</a></li>
    <li><a href="javascript:(function fmd(o,t){var c;o.FuckMyDom?FuckMyDom.slowly():(c=t.createElement('script'),c.setAttribute('src','http://mhgbrown.github.io/fuck-my-dom/fuck-my-dom.js'),c.onload=function(){FuckMyDom.slowly()},t.body.appendChild(c))})(window,document);">Fuck My Dom</a></li>
    <li><a target="_blank" href="http://void.mhgbrown.is/">Void</a></li>
    <li><a target="_blank" href="https://github.com/mhgbrown/why-you-leave-me">Why You Leave Me?</a></li>
    <li><a target="_blank" href="https://twitter.com/lmttfy">Let Me Tweet That For You</a></li>
    <li><a target="_blank" href="https://twitter.com/depictionsofm">Depictions Of Muhammad</a></li>
    <li><a target="_blank" href="https://www.instagram.com/p/6sGenzL2Gu/">BVG Train Schedule Display</a></li>
    <li><a target="_blank" href="https://www.getfirstmate.com/">Firstmate - Life Coaching</a></li>
    <li><a target="_blank" href="http://www.josephkadow.com/">Joseph Kadow</a></li>
    <li><a target="_blank" href="http://dansolbach.ch/">Dan Solbach</a></li>
    <li><a target="_blank" href="https://kpiready.com/">kpiReady</a></li>
  </ul>
</div>
<% end %>

