<%= content_for :left do %>
  <h1 id="title">Morgan Brown</h1>
  <ul class="navigation left">
    <li><a target="_blank" href="http://github.com/mhgbrown">Code</a></li>
    <li><a target="_blank" href="http://instagram.com/mhgbrown">Photos</a></li>
    <li><a target="_blank" href="http://soundcloud.com/mhgbrown/likes">Music</a></li>
    <li><a target="_blank" href="http://blog.mhgbrown.is">Blog</a></li>
    <li><a target="_blank" href="http://www.linkedin.com/in/mhgbrown">Resume</a></li>
  </ul>
<% end %>
<%= content_for :right do %>
  <ul class="navigation right">
    <li><a target="_blank" href="http://witchifier.mhgbrown.is">Witchifier</a></li>
    <li><a href="javascript:(function fmc(t,e){function s(){var t=e.createElement('script');t.setAttribute('src','http://mhgbrown.github.io/fuck-my-chars/js/fuck-my-chars.js'),t.onload=function(){r=!1,FuckMyChars.up()},e.body.appendChild(t)}var c,r=!1;if(t.FuckMyChars)FuckMyChars.up();else{if(r)return;r=!0,c=e.createElement('link'),c.setAttribute('href','http://mhgbrown.github.io/fuck-my-chars/css/fuck-my-chars.css'),c.setAttribute('rel','stylesheet'),c.setAttribute('type','text/css'),c.onload=function(){s()},e.getElementsByTagName('head')[0].appendChild(c)}})(window,document);">Fuck My Chars</a></li>
    <li><a target="_blank" href="//tones.mhgbrown.is/">Tones</a></li>
    <li><a href="javascript:(function fmd(o,t){var c;o.FuckMyDom?FuckMyDom.slowly():(c=t.createElement('script'),c.setAttribute('src','http://mhgbrown.github.io/fuck-my-dom/fuck-my-dom.js'),c.onload=function(){FuckMyDom.slowly()},t.body.appendChild(c))})(window,document);">Fuck My Dom</a></li>
    <li><a target="_blank" href="http://soundcloudqueue.mhgbrown.is/">SoundCloud Queue</a></li>
    <li><a target="_blank" href="//image2html.mhgbrown.is">image2html</a></li>
    <li><a target="_blank" href="//justagrid.mhgbrown.is/">Just A Grid</a></li>
    <li><a target="_blank" href="https://twitter.com/dattweettho">DAT TWEET THO</a></li>
    <li><a target="_blank" href="http://void.mhgbrown.is/">Void</a></li>
    <li><a target="_blank" href="http://twitter.com/lmttfy">Let Me Tweet That For You</a></li>
  </ul>
<% end %>
