<%= content_for :page_title do %>
<h1>Hello, I'm Morgan</h1>
<% end %>
<div class="row">
	<div class="span4">
		<p class="lead">
			I'm a software developer who enjoys art, running, martinis, and house music.  My primary focus is Ruby, Rails, and JavaScript.
		</p>
		<p class="lead">
			Check out <a href="http://github.com/discom4rt">my projects on GitHub</a> or listen to the <a href="http://soundcloud.com/discom4rt/favorites">music I like on SoundCloud</a>.
		</p>
	</div>
</div>