<!DOCTYPE html>
<html>
<head>
  <title>Morgan Brown</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	   <div class="navbar-inner">
	     <div class="container">
	       <a class="brand" href="/"></a>
			<div class="nav-collapse">	
				<ul class="nav pull-right">
					<li><a>Witchifier</a></li>
				</ul>
			</div>
	     </div>
	   </div>
	 </div>
	<div class="container">
		<header class="jumbotron subhead">
			<div class="hex-collection">
				<div class="hex-row">
					<div class="hex">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
					<div class="hex even">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
				</div>
				<div class="hex-row">
					<div class="hex">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
				</div>
			</div>
			<%= yield %>
		</header>
	</div>
<%= javascript_include_tag "application" %>
</body>
</html>
