<!DOCTYPE html>
<html>
<head>
  <title>Morgan Brown</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	   <div class="navbar-inner">
	     <div class="container">
	       <a class="brand" href="/">Morgan Brown</a>
			<div class="nav-collapse">	
				<ul class="nav">
					<li><a href="https://docs.google.com/document/pub?id=1P9Su7E94cIwtnJaw9zij5i9_L_A_mv9KagAHVx-m7WA">Resume</a></li>
					<li><a href="http://www.linkedin.com/in/morg4n">LinkedIn</a></li>
					<li><a href="http://github.com/discom4rt">GitHub</a></li>
					<li><a href="http://soundcloud.com/discom4rt">SoundCloud</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a>Witchifier</a></li>
				</ul>
			</div>
	     </div>
	   </div>
	 </div>
	<div class="container">
		<header class="jumbotron subhead">
			<div class="hex-collection">
				<div class="hex-row">
					<div class="hex yellow">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
					<div class="hex even">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
				</div>
				<div class="hex-row">
					<div class="hex pink">
						<div class="left"></div>
						<div class="middle"></div>
						<div class="right"></div>
					</div>
				</div>
			</div>
			<%= yield %>
		</header>
	</div>
<%= javascript_include_tag "application" %>
</body>
</html>
